@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/zim0dvu.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

/* Smooth Scrolling & Basic Colors */

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: #212121;
    color: #fff;
  }

  .text-secondary {
    color: rgb(163, 163, 163);
  }

  .bg-secondary {
    background-color: #030712;
  }
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 11px;
  height: auto;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: #8e9bac;
  border-radius: 15px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

/* Float on Hover */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.tech-list::before {
  content: '->';
  color: #2b6cb0;
}